@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");

:root {
  --primary: #000000;
  --secondary: #21d07a;
  --white: #fff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  padding: 0;
  margin: 0;
  background: #000000 ;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #21d07a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}